app/webroot/Proto_taxons.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="taxons">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="taxon" type="xs:string">
					
				</xs:element>
			</xs:sequence>
			<xs:attribute name="proto_name" type="xs:string" use="required"/>	
			<xs:attribute name="havetaxon" type="xs:string" use="required"/>	
		</xs:complexType>
	</xs:element>
</xs:schema>		 